*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild

# IntelliJ related
*.ipr
*.iws
.idea/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# OpenCV Related
/OpenCVLibrary401/build
/OpenCVLibrary401/javadocs